In [9]:
a = 10           #int
b = 0.5          #float
c = 'Hola'       #string
d = True         #boolean
x,y = 3,6
# variables can have (_) but not other characters and spaces
print (a,b,c,d,x,y)  
print (a)
print (b)

10 0.5 Hola True 3 6
10
0.5

In [47]:
print (type(a))
print (type(b))
(type(c))
(type(d))

<class 'str'>
<class 'float'>

bool

In [1]:
e ='12'
f = "12@54'"
g = '''12@#78""'''
print (f)
print (g)
type  (e)

12@54'
12@#78""

str

In [49]:
#operators are + - * / ** // %
h = 3
i = 10
j = h+i
k = i/h
print(j,k)

13 3.3333333333333335

In [50]:
l = i**h # power
print(l)
m = i//h #floar division i.e. it does not give the decimal
print(m)
n = i%h #gives remainder
print(n)

1000
3
1

In [38]:
#string
o = "hello"
p = "hola"
q = o+p
print(q)
print(q*2)
r = "ron\n" # is for next line
print(r*2)

hellohola
helloholahellohola
ron
ron

In [45]:
nam = "sneha"
intr= "I am "+nam
print (intr)

I am sneha

In [16]:
#complex no (+ - * /)
com = 2+3j #here j is the complex no- j= (-1)**(1/2)
type(com)

complex

In [27]:
#type casting
# int() str() float() bool()

In [25]:
#str to int
St = "10"
In = int(St)
print(In)
print (type(In))

10
<class 'int'>

In [26]:
# float to str
Fl = 10.6
Str = str(Fl)
print (type(Str))

<class 'str'>

In [32]:
# int to bool
I1 = 1
I2 = 0 #only 0 gives false other very value gives true
print(bool(I1))
print(bool(I2))

True
False

In [33]:
# str to bool
S1 = "hi"
S2 = ""
print(bool(S1))
print(bool(S2))

True
False

In [43]:
# basic IO operation
# input always takes in str unless defined
inp = input("enter ") # or just input()
print (inp)
print (type (inp))
inu = int(input("enter "))
print (inu)
print (type (inu))

enter 567
567
<class 'str'>
enter 7678
7678
<class 'int'>

In [8]:
name = input("Enter name ")
age = int(input("Enter age "))
add = input("Enter address ")
inf = "I am " + name + ". I am " + str(age) + " years old. I live in " + add +"."
print(inf)

Enter name Sneha
Enter age 17
Enter address Dhalko
I am Sneha . I am 17 years old. I live in Dhalko.

In [4]:
pv = int(input("Enter principal value"))
tim = float (input("Enter the time"))
ra = float (input("eanter the rate"))
itr = pv*tim*ra/100
print ("The intrest amount is "+str(itr))

Enter principal value400
Enter the time30
eanter the rate50
The intrest amount is 6000.0