In [1]:
# Dictionary
# - Indexing
# - ordered
# - mutable
# - multiple and duplicate data

In [4]:
d = {}
di = dict ()
# d = {<key>:<value>,<key>:<value>}

In [5]:
d = {'a': 'Hey', 'b' : 'hola' , 'c' : 'Hi' }
print (type(d))
print (d)
print (d ['a'])
print (len(d))

<class 'dict'>
{'a': 'Hey', 'b': 'hola', 'c': 'Hi'}
Hey
3

In [6]:
d = {'a': 'Hey', 'b' : 'hola' , 'c' : 'hola' , 'a' : 'Hellu'}
print (d)

{'a': 'Hellu', 'b': 'hola', 'c': 'hola'}

In [ ]:
# cannot use + or *

In [7]:
n = {'d' : 'Ni hao'}
d.update(n)
print(d)

{'a': 'Hellu', 'b': 'hola', 'c': 'hola', 'd': 'Ni hao'}

In [8]:
# creating a dictionary
e = {}
e['a'] = "ALL"
e['b'] = "Everything"
e['c'] = "Something"
print(e)

{'a': 'ALL', 'b': 'Everything', 'c': 'Something'}

In [9]:
n = int (input("Enter the size - "))
info={}
for i in range(n):
    name = input("Enter the name - ")
    no = input("Enter the number - ")
    info[name] = no
print (info)

Enter the size - 2
Enter the name - kai
Enter the number - 987654321
Enter the name - isa
Enter the number - 9800000006
{'kai ': '987654321', 'isa': '9800000006'}

In [10]:
inf = {'Sneha': '9812386862', 'Abhi': '986867682', 'Kai': '9800070050'}
for i in inf:
    print (i)
for i in inf.values():
    print (i)
for i in inf.items():
    print (i)

Sneha
Abhi
Kai
9812386862
986867682
9800070050
('Sneha', '9812386862')
('Abhi', '986867682')
('Kai', '9800070050')

In [11]:
v = [['Dante',11],['Vivan',10]]
print (dict(v))

{'Dante': 11, 'Vivan': 10}

In [12]:
# update
u = {'Dante': 11, 'Vivan': 10}
u ['Dante'] = 12
print (u)

{'Dante': 12, 'Vivan': 10}

In [13]:
# delete
del u['Vivan']
print (u)

{'Dante': 12}

In [14]:
u = {'Dante': 11, 'Vivan': 10}
t = u. pop('Dante')
print (u)
print (t)

{'Vivan': 10}
11

In [15]:
# list inside dictionary
inf = {'Sneha': '9812386862', 'Abhi': '986867682', 'Kai': ['9800070050','9005004003']}
print (inf)

{'Sneha': '9812386862', 'Abhi': '986867682', 'Kai': ['9800070050', '9005004003']}

In [16]:
n = int (input("Enter the size - "))
info={}
for i in range(n):
    name = input("Enter the name - ")
    no = input("Enter the number - ")
    ano = input("Enter the alternate number - ")
    info[name] = [no,ano]
print (info)

Enter the size - 2
Enter the name - rowan
Enter the number - 987654321
Enter the alternate number - 981234567
Enter the name - Zahra
Enter the number - 9080808080
Enter the alternate number - 9767676767676
{'rowan': ['987654321', '981234567'], 'Zahra': ['9080808080', '9767676767676']}

In [20]:
print (info['Zahra'])
print (info['rowan'][1])

['9080808080', '9767676767676']
981234567

In [22]:
p = {'Name': ['Alex', 'Ava', 'Josh', 'Jules'],
     'age':['30','25','27','24'], 
     'occ' : ['Real esate','Photographer','Doctor' ,'Desginer']}

print(p)

{'Name': ['Alex', 'Ava', 'Josh', 'Jules'], 'age': ['30', '25', '27', '24'], 'occ': ['Real esate', 'Photographer', 'Doctor', 'Desginer']}

In [26]:
d = {'Name':[],'Age':[],'Add':[]}
n = int(input("Enter the size- "))
for i in range(n):
    name = input("Enter the name - ")
    age = input("Enter the age - ")
    add = input("Enter the address - ")
    d['Name'].append(name)
    d['Age'].append(age)
    d['Add'].append(add)
print (d)

Enter the size- 2
Enter the name - Bee
Enter the age - 30
Enter the address - Nasaa
Enter the name - Levi
Enter the age - 32
Enter the address - Nassa
{'Name': ['Bee', 'Levi'], 'Age': ['30', '32'], 'Add': ['Nasaa', 'Nassa']}

In [32]:
c = 0
for i  in p['Name']:
    if i == 'Josh':
        print (p['Name'][c])
        print (p['age'][c])
        print (p['occ'][c])
    c = c+1

Josh
27
Doctor

In [ ]:
# WAP to create, read, update, and delete dict inside dict