In [ ]:
# file
# file = open('<file name>','<modes>')
# file.close()
# with open('<file name>','<modes>') as file:
#     <operation>

# mode
# create -> x
# read -> r
# write -> w
# oppend -> a

In [6]:
try:
    file = open('data.txt','x')
    file.close()
except:
    print("The file already exists")

In [9]:
file = open('data.txt','r')
y = file.read()
print(y)
file.close()

1.Hello
2.Hola
3.Hi

In [10]:
type (y)

str

In [11]:
z = y.split('\n')
print(z)

i = int(input("Enter - "))
z[i-1]

['1.Hello ', '2.Hola', '3.Hi']
Enter - 1

'1.Hello '

In [12]:
file = open('data1.txt','w')
file.write('Hola')
file.close()

In [31]:
num = int (input("Enter the number of items - "))
bill =""
for i in range (1,num+1):
    n = input("product name - ")
    p = int(input("product price - "))
    qty = int(input("product quantity - "))
    total = p*qty
    data = f"{n},{p},{qty},{total}\n"
    bill = bill + data
print(bill)

file = open('data.txt','w')
file.write(bill)
file.close()

Enter the number of items - 2
product name - gems
product price - 5
product quantity - 10
product name - kitkat
product price - 20
product quantity - 4
gems,5,10,50
kitkat,20,4,80

In [33]:
num = int (input("Enter the number of items - "))
bill =""
for i in range (1,num+1):
    n = input("product name - ")
    p = int(input("product price - "))
    qty = int(input("product quantity - "))
    total = p*qty
    data = f"{n},{p},{qty},{total}\n"
    bill = bill + data
print(bill)

file = open('data.txt','a')
file.write(bill)
file.close()

Enter the number of items - 1
product name - milkyway
product price - 20
product quantity - 5
milkyway,20,5,100

In [4]:
file = open('data.txt','r')
x = file.read()
print(x)
file.close()

gems,5,10,50
kitkat,20,4,80
milkyway,20,5,100

In [5]:
y = x.split('\n')[0:-1]
y

['gems,5,10,50', 'kitkat,20,4,80', 'milkyway,20,5,100']

In [8]:
bill = []
for i in y:
    bill.append(i.split(','))
    
bill

[['gems', '5', '10', '50'],
 ['kitkat', '20', '4', '80'],
 ['milkyway', '20', '5', '100']]

In [9]:
s = 0
for i in bill:
    s = s + int(i[-1])
print(s)

230

In [43]:
num = int (input("Enter the number of items - "))
bill =""
for i in range (num):
    n = input("product name - ")
    p = int(input("product price - "))
    qty = int(input("product quantity - "))
    total = p*qty
    data = f"{n},{p},{qty},{total}\n"
    bill = bill + data
print(bill)

file = open('data.csv','w')
file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter the number of items - 2
product name - Cream
product price - 230
product quantity - 2
product name - blush
product price - 250
product quantity - 3
Cream,230,2,460
blush,250,3,750

In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df

    Name  Price  Quantity  Total
0  Cream    230         2    460
1  blush    250         3    750