In [28]:
# python collection
# lists
# tuple
# dict
# set

In [29]:
# lists
# Indexing
# Multiple data
# Duplicate
# Mutable

In [30]:
l = []
l = list()
a = [1,2,3]
print(type(a))
print (a)

<class 'list'>
[1, 2, 3]

In [5]:
a =["Apple","well","boot","cat","well"]
print (a[1:40])
print (a[0:10:2])

['well', 'boot', 'cat', 'well']
['Apple', 'boot', 'well']

In [11]:
d = [1,5,8,4]
e = [2,4,3]
s = 2
f = d+e
g = d * s
print (f)
print (g)

[1, 5, 8, 4, 2, 4, 3]
[1, 5, 8, 4, 1, 5, 8, 4]

In [20]:
n = int(input("Enter the range "))
l = []
for i in range(n):
    x = int(input("Enter the values -"))
    l = l+[x]
print (l)

Enter the range 5
Enter the values -87
Enter the values -23
Enter the values -45
Enter the values -67
Enter the values -78
[87, 23, 45, 67, 78]

In [21]:
print(max(l))
print(min(l))
print(sum(l))

87
23
300

In [25]:
l.sort()
print(l)
l.reverse()
print(l)

[23, 45, 67, 78, 87]
[87, 78, 67, 45, 23]

In [ ]:
# append(), insert(), extend(), del, remove(), pop()

In [28]:
a =["Apple","well","boot","cat","well"]
for i in a:
    print (i)
for i in range(len(a)):
    print (a[i])

Apple
well
boot
cat
well
Apple
well
boot
cat
well

In [34]:
n = ["Vivan", "Dante", "Kai", "Isa", "Isabella"]
if "Isa" in n:
    print("Yes")
    print(n.count("Isa"))
else:
    print("No")

Yes
1

In [34]:
#WAP peogram to search any value in an array irrespective of the case
r = int(input("Enter the range "))
arr = []
for i in range(r):
    x = input("Enter the names -")
    arr = arr+[x]
search = input ("Enter the name to be searched ")
search = search.lower()
for i in arr:
    if search == i.lower():
        print ("Found")

Enter the range 3
Enter the names -Vaishnav
Enter the names -sneha
Enter the names -Riya
Enter the name to be searched riya
Found

In [35]:
# append() it adds a value in the last of the list
n. append("Christan")
n. append("Stealla")
print(n)

['Vivan', 'Dante', 'Kai', 'Isa', 'Isabella', 'Christan', 'Stealla']

In [52]:
# insert 
v = [7,8,9,"Tall","Small"]
v.insert(4,"Large")
print(v)

[7, 8, 9, 'Tall', 'Large', 'Small']

In [53]:
# extend()
u = ["Short","Tiny","Tip"]
v.extend(u)
print(v)

[7, 8, 9, 'Tall', 'Large', 'Small', 'Short', 'Tiny', 'Tip']

In [54]:
# update
v[0] = "Size"
v[1:3] = ["Grande", "Venti"]
print(v)

['Size', 'Grande', 'Venti', 'Tall', 'Large', 'Small', 'Short', 'Tiny', 'Tip']

In [ ]:
# delete
# del remove() pop()

In [6]:
s = ['Size', 'Grande', 'Venti','Tip','Tall', 'Large', 'Small', 'Short', 'Tiny', 'Tip']
del s[2]
print (s)
del s[4:6]
print (s)
s.remove("Tip")
print(s)
new = s.pop(2)
print (new , s)

['Size', 'Grande', 'Tip', 'Tall', 'Large', 'Small', 'Short', 'Tiny', 'Tip']
['Size', 'Grande', 'Tip', 'Tall', 'Short', 'Tiny', 'Tip']
['Size', 'Grande', 'Tall', 'Short', 'Tiny', 'Tip']
Tall ['Size', 'Grande', 'Short', 'Tiny', 'Tip']

In [8]:
# list inside a list
l = [[2, 3, 5],
     [4, 6,10],
     [3, 5, 9]]
print (l[0])
print (l[0][0])

[2, 3, 5]
2

In [11]:
a = [["Lina",25,"spain"],
     ["Rosie",22,"US"]]
a

[['Lina', 25, 'spain'], ['Rosie', 22, 'US']]

In [14]:
a = []
n = int(input ("Enter the size "))
for i in range(n):
    name = input("Enter the name - ")
    age = input("Enter the age - ")  
    add = input("Enter the address - ")
    info = [name, age, add]
    a.append(info)
print(a)

Enter the size 3
Enter the name - Bree
Enter the age - 20
Enter the address - Kathamndu
Enter the name - Nathan
Enter the age - 22
Enter the address - Dhalko
Enter the name - Sheet
Enter the age - 22
Enter the address - Bangalore
[['Bree', '20', 'Kathamndu'], ['Nathan', '22', 'Dhalko'], ['Sheet ', '22', 'Bangalore']]

In [37]:
a.append(['Lily','21','London'])
print(a)

[['Bree', '20', 'Kathamndu'], ['Nathan', '22', 'Dhalko'], ['vaish', '23', 'Bangalore'], ['Bree', '25', 'Nasa'], ['Lily', '21', 'London']]

In [43]:
#search
c = 0
a = [['Bree', '20', 'Kathamndu'],
     ['Nathan', '22', 'Dhalko'], 
     ['vaish', '23', 'Bangalore'],
     ['Bree', '25', 'Nasa']]
name = input("Enter the detail - ")
for i in a:
     if name in i:
         print(i)
         c = c+1
print (f"There are {c} records.")

Enter the detail - Bree
['Bree', '20', 'Kathamndu']
['Bree', '25', 'Nasa']
There are 2 records.

In [45]:
# update
a [0][1] = '21'
print (a)
del a[3]
print (a)

[['Bree', '21', 'Kathamndu'], ['Nathan', '22', 'Dhalko'], ['vaish', '23', 'Bangalore'], ['Bree', '25', 'Nasa']]
[['Bree', '21', 'Kathamndu'], ['Nathan', '22', 'Dhalko'], ['vaish', '23', 'Bangalore']]

In [4]:
# wap to create a matrix having n no. of rows and coloumns
a = []
n = int(input ("Enter the size "))
for i in range(n):
    k = " "
    for j in range(n):
        x = input("Enter the value ")
        k = k + x + " "
    a = a + [k] 
print(a)

Enter the size 3
Enter the value 1
Enter the value 2
Enter the value 3
Enter the value 4
Enter the value 5
Enter the value 6
Enter the value 7
Enter the value 8
Enter the value 9
[' 1 2 3 ', ' 4 5 6 ', ' 7 8 9 ']