In [ ]:
# for loop
# range(5) : 0,1,2,3,4
# range(1,5) : 1,2,3,4
# rangle(1,10,2) : 1,3,5,7,9

In [1]:
for i in range(5):
    print(i, "Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

In [9]:
for i in range(1,15,2):
    print(i, "Hello")

1 Hello 3 Hello 5 Hello 7 Hello 9 Hello 11 Hello 13 Hello

In [6]:
for i in range(15,0,-2):
    print(i, "Hello")

15 Hello
13 Hello
11 Hello
9 Hello
7 Hello
5 Hello
3 Hello
1 Hello

In [8]:
# tables
n = int(input("Enter n "))
for i in range(1,11):
    print(n, "*",i, "=",i*n)

Enter n3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [40]:
s = 0
n = int(input("Enter a value "))
for i in range(n):
    x = int(input("Enter the value "))
    s = s+x
    print("Now the total is ",s)

Enter a value 3
Enter the value 50
Now the total is  50
Enter the value 20
Now the total is  70
Enter the value 30
Now the total is  100

In [18]:
s = ""
n = int(input("Enter the value "))
for i in range(n):
    name = (input("Enter the name "))
    phone = input("Enter the number ")
    s = s+name + str(phone) +"\n"
    print(s)

Enter the value 3
Enter the namerom
Enter the number9804657
rom9804657

Enter the namerew
Enter the number985304342
rom9804657
rew985304342

Enter the nameupm
Enter the number98432345
rom9804657
rew985304342
upm98432345

In [6]:
# factorial
f = 1
num = int(input("Enter the number "))
for i in range(num,1,-1):
    f = f*i
print("The factorial of ",num," is ",f)

Enter the number5
The factorial of  5  is  120

In [15]:
# add and multiply no. from 1 to 100
a = 0
p = 1
for i in range(1,11):
    a = a + i
    p = p * i
print("The sum of numbers is ", a, " and the product of the numbers is ",p)

The sum of numbers is  55  and the product of the numbers is  3628800

In [47]:
# triangle
l = int(input("Enter the levels "))
c = input("Enter the character ")
s = " "
for i in range(1,l+1):
    s = s+c+" "
    print(s)

Enter the levels 6
Enter the character *
 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *

In [57]:
l = int(input("Enter the levels "))
c = input("Enter the character ")
s = " "
for i in range(1,l+1): 
    print(i*c)

Enter the levels 6
Enter the character &
&
&&
&&&
&&&&
&&&&&
&&&&&&

In [14]:
# billing system
num = int (input("Enter the number of items - "))
Total = 0
for i in range (1,num+1):
    n = input("product name - ")
    p = float(input("product price - "))
    qty = int(input("product quantity - "))
    total = p*qty
    Total = Total + total
    print ("The amount is - " , total)
print ( "The Total bill is - ", Total)

Enter the number of items - 3
product name - chips
product price - 20
product quantity - 3
The amount is -  60.0
product name - juice
product price - 10
product quantity - 3
The amount is -  30.0
product name - candy
product price - 5
product quantity - 10
The amount is -  50.0
The total bill is -  140.0

In [11]:
# string 
a = "star"
b = " Hello world I am Python"
for i in a:
    print(i, "light ")
for i in b:
    print(i,end = "")

s light
t light
a light
r light
 Hello world I am Python

In [ ]:
# while loop 
# while <condition>:

In [22]:
a = 0
while a < 5:
    print (a)
    a = a+1

0
1
2
3
4

In [24]:
a = 0 
while a<=2:
    print(a)
    a = a + 0.5

0
0.5
1.0
1.5
2.0

In [28]:
# table
n = int (input("Enter the number - "))
i = 1
while i<=10:
    print ( n, "*", i, " = ", n*i)
    i = i+1

Enter the number - 6
6 * 1  =  6
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
6 * 10  =  60

In [45]:
s = 0
n = int(input("Enter a number "))
i = 0
while i<=n:
    x = int(input("Enter the value "))
    s = s+x
    print("Now the total is ",s)

Enter a number 3
Enter the value 10
Now the total is  10
Enter the value 40
Now the total is  50
Enter the value 50
Now the total is  100

In [49]:
s = " "
n = int(input("Enter the value "))
i = 1
while i<=n:
    name = (input("Enter the name "))
    phone = input("Enter the number ")
    i += 1
    s = s+name+" - " + str(phone) +" \n"
    print(s)

Enter the value 2
Enter the name sneha
Enter the number 98132868672
 sneha - 98132868672

Enter the name abhi
Enter the number 9828287286
 sneha - 98132868672
abhi  - 9828287286

In [1]:
# palindrome
n = int(input("Enter the number to be checked - "))
num = n 
s = 0
while n>0:
    d = n%10
    s = (s*10)+d
    n = n//10 #in python / gives in decimal
if (num == s):
    print (num , " is a palindrome.")
else:
    print (num , " is not a plaindrome.")

Enter the number to be checked - 343
343  is a palindrome.

In [25]:
# prime or composite
n = int(input("Enter the number to be checked - "))
i = 2
c = 0
while i<n//2+1:
    if (n%i==0):
       print (n, " is a composite number. ")
       break
    i = i+1
else:
    print (n, " is prime. ")

Enter the number to be checked - 23
23  is prime.

In [ ]:
# control statements
# continue, break, pass

In [4]:
for i in  range(10):
    if i==5 or i == 8:
        continue
    print(i, end =" ")

0 1 2 3 4 6 7 9

In [3]:
a = input ("Enter the sentence - ")
for i in a:
    if i == ".":
        break
    print (i, end="")

Enter the sentence - It is sunny today. But I am sleepy.
It is sunny today

In [5]:
a = input ("Enter the sentence - ")
for i in a:
    if i == "." or i == "_":
        continue
    print (i, end="")

Enter the sentence - I am Sneha. It is nice in here. _
I am Sneha It is nice in here

In [8]:
i = 1
while i<=10:
    if i==5 or i == 8:
        i = i + 1
        continue
    print(i, end =" ")
    i = i + 1

1 2 3 4 6 7 9 10

In [10]:
for i in range(1,51):
    if i % 5 !=0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [3]:
#celcius to fahrenheit
cel = float (input("Enter the temperature in celcius "))
far = 1.8*cel+32.0
print ("The temperature in fahrenheit is " , far)

Enter the temperature in celcius 31
The temperature in fahrenheit is  87.80000000000001

In [9]:
# Armstrong
num = int (input("Enter the number to be checked "))
s = 0
n= num
while n>0:
    d = n % 10
    s = d**3 +s
    n = n//10
if (s == num):
    print ("Armstrong")
else : 
    print ("Not Armstrong")

Enter the number to be checked 371
Armstrong

In [ ]:
# magic
num = int (input("Enter the number to be checked"))
# 361 = 3+6+1 = 10 = 1+ 0 =1