In [ ]:
# sets
# no indexing
# Multiple but not duplicate
# unordered
# mutable

In [2]:
s = {1,2,3,4,5}
print(type(s))
p = {}
print (type(p)) # empty gives dictinoary

<class 'set'>
<class 'dict'>

In [6]:
s = {"Good","Morning","Everyone","Good", "To", "See" , "You"}
print(s)
n = {132,2343,45,65,34}
print(n)

{'Good', 'To', 'Morning', 'See', 'Everyone', 'You'}
{65, 34, 132, 2343, 45}

In [7]:
for i in s:
    print(i)

Good
To
Morning
See
Everyone
You

In [ ]:
# add(), update(), remove()

In [11]:
s = {1,2,3}
s.add(4)
print(s)
n = {5,6}
s.update(n)
print(s)
s.remove(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}

In [16]:
# universal set
u = {'Steve', 'Michel', 'John', 'Ram', 'Jules', 'Josh', 'Shaym', 'Stan','Hector','Tom'}
# set A
apple = {"Ram","Steve","John","Josh","Jules"}
# set B
ms = {"Shaym","Stan","Michel","Josh","Jules"}
# A n B
i = apple.intersection(ms)
print(i)
# A u B
um = apple.union(ms)
print (um)
print (apple - ms)
print (u-um)

{'Jules', 'Josh'}
{'Steve', 'Michel', 'John', 'Ram', 'Jules', 'Josh', 'Shaym', 'Stan'}
{'John', 'Ram', 'Steve'}
{'Hector', 'Tom'}

In [ ]:
# Only imutable inside set 
# cannot create list inside set , dictionary inside set, set inside set