In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\user\anaconda3\lib\site-packages (2.2.9)

In [ ]:
# create database 
import mysql.connector
database = mysql.connector.connect(host="localhost", user="root", password="")
db = database.cursor()
db.execute("CREATE DATABASE python class")

In [ ]:
# create table
import mysql.connector
database = mysql.connector.connect(
host="localhost",user="root",password="",database = "python class")
db = database.cursor()
db.execute(“CREATE TABLE subject(id INT, nameVARCHAR(255))”)

In [4]:
# creating object  # need to run each time
import mysql.connector
database = mysql.connector.connect(
    host="localhost",user="root",password="",database= "python class")
db = database.cursor()

In [3]:
# selecting 
db.execute("SELECT * FROM results WHERE Grade = 'A'")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Sneha', 87.0, 86.0, 95.0, 93.0, 93.0, 454.0, 92.0, 'A')
(3, 'Bree', 98.0, 90.0, 95.0, 98.0, 93.0, 474.0, 97.0, 'A')
(4, 'Bee', 95.0, 99.0, 92.0, 93.0, 91.0, 570.0, 97.0, 'A')

In [12]:
#insert in database
sql='''INSERT INTO `results`
(`S.N.`, `Name`, `Physics`, `Chemistry`, `Maths`, `Computer`, `English`, `Total`, `Percentage`, `Grade`)
VALUES (2, 'Cal', '85', '80', '82', '80', '78', '368', '79', 'C');'''
db.execute(sql)
database.commit()

In [8]:
# WAP to entry all data in result table taking value as inpt from user 
phy = float(input("Enter the marks of physics "))
math = float(input("Enter the marks of maths "))
eng =  float(input("Enter the marks of english "))
com = float(input("Enter the marks of computer "))
chem = float(input("Enter the marks of chemistry "))
n = input("Enter the name ")
if (phy>50) & (math>50) & (eng>50) & (com>50)&(chem>50):
    Total = phy+math+eng+com+chem
    per = Total/5
    if per >= 90:
        grade = "A1"
    elif per >= 80:
        grade = "A"
    elif per >= 70:
        grade ="B1"
    elif per >= 60:
        grade = "B"
    elif per >= 50:
        grade = "C"
    else:
        grade="F"

sql=f'''INSERT INTO `results` 
(`S.N.`, `Name`, `Physics`, `Chemistry`, `Maths`, `Computer`, `English`, `Total`, `Percentage`, `Grade`)
VALUES (NULL, '{n}',{phy},{chem},{math},{com},{eng},{Total},{per},'{grade}');''' # 'single quote' only in varchar
db.execute(sql)
database.commit()

Enter the marks of physics 98
Enter the marks of maths 97
Enter the marks of english 98
Enter the marks of computer 94
Enter the marks of chemistry 96
Enter the name Decan

In [10]:
# update
sql = "UPDATE results SET Grade = 'A' WHERE Name = 'Levi'"
db.execute(sql)
database.commit()

In [13]:
# delete
sql = "DELETE FROM results WHERE Name = 'Nova' and Grade = 'D'"
db.execute(sql)
database.commit()