In [1]:
#imutable datatype
a = " Hello this is Sneha. "
b = 'Hello this is Sneha. '
c = '''Hello this is Sneha. '''
print (type(a), "\n" , type(b), "\n", type(c))

<class 'str'>
 <class 'str'>
 <class 'str'>

In [2]:
# + *
a = "Hello "
b = "everyone."
c = a+b
print (c, a*2)

Hello everyone. Hello Hello

In [3]:
for i in a:
    print(i , end= " ")

H e l l o

In [14]:
print (c[7])
print (c[6:10])
print (c[0:15:2])
print (c[-1])
print (c[::-1]) #reverse

v
ever
Hloeeyn.
.
.enoyreve olleH

In [11]:
# palindrome
num = "56765"
rev = num[::-1]
if rev==num:
    print ("palindrome ")
else:
    print ("Not palindrome")

palindrome

In [17]:
l = len(c)
print (l)
for i in range (l):
    print(c[i], end= " ")

15
H e l l o   e v e r y o n e .

In [19]:
i=0
while i<l:
    print(c[i], end= " ")
    i = i +1

H e l l o   e v e r y o n e .

In [22]:
sen = input("Enter the sentence - ")
l = len(sen)
for i in range (l):
    if sen[i]== " ":
        print (i+1, " ")

Enter the sentence - Hello this is Sneha.
6
11
14

In [28]:
# String formatting
name = "Nova"
age = 17
add = "Kathmandu"
info = "Hello this is "+ name+". I am "+str(age)+" years old. I live in "+ add
print(info)
inf = f"Hello this is {name}. I am {age} years old. I live in {add}."
print (inf)

Hello this is Nova. I am 17 years old. I live in Kathmandu
Hello this is Nova. I am 17 years old. I live in Kathmandu.

In [4]:
# search in strirng
n = "Ava, Alex, Rhys, Bridget, Jules, Josh, Christan, Stella, Avalena".lower()
if "jules" in n:
    print ("Yes")
    print (n.count("alex"))
    print (n.count("ava"))
else:
    print ("No")

Yes
1
2

In [5]:
print (n.upper())
print (n)
print (n.lower())

AVA, ALEX, RHYS, BRIDGET, JULES, JOSH, CHRISTAN, STELLA, AVALENA
ava, alex, rhys, bridget, jules, josh, christan, stella, avalena
ava, alex, rhys, bridget, jules, josh, christan, stella, avalena

In [6]:
# replace
n = n.replace("avalena","")
print (n)

ava, alex, rhys, bridget, jules, josh, christan, stella,

In [49]:
# isupper() , islower() , title()