In [ ]:
# tuple
# Indexing 
# Ordered
# Multiple and duplicate data
# Imutable

In [1]:
a = (1,2,3)
b = ("Bed", "Cupboard", "TV")
print (type(a))
print (type(b))

<class 'tuple'>
<class 'tuple'>

In [2]:
n = (1)
print(type(n))
m = (1,)
print (type(m))

<class 'int'>
<class 'tuple'>

In [3]:
t = tuple()

In [4]:
c = ("The","Moon","Is","Beatiful",23,22,56)
print(c)
print(c[1])
print(c[1:3])
print(c[0:6:2])

('The', 'Moon', 'Is', 'Beatiful', 23, 22, 56)
Moon
('Moon', 'Is')
('The', 'Is', 23)

In [ ]:
# min max sum

In [5]:
# Imutable 
# cannot create
# cannot use appned(), extend(), del, remove(), pop(), update, sort

In [6]:
a = (1,2,3,4,5)
b = (6,7)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7)

In [7]:
a = ()
b = (1,)
a = a+b
print (a)

(1,)

In [8]:
n = int(input("Enter the size - "))
t = ()
for i in range(n):
    x = input ("Enter the value - ")
    t = t + (x,)
print(t)

Enter the size - 5
Enter the value - asdf
Enter the value - asdfgh
Enter the value - ghjk
Enter the value - jhgfds
Enter the value - sdfghj
('asdf', 'asdfgh', 'ghjk', 'jhgfds', 'sdfghj')

In [9]:
tu = (1233,34543,67876,98765567,654)
print(max(tu))
print(min(tu))
print(sum(tu))

98765567
654
98869873

In [13]:
li = list(tu)
print(li)
del li[1]
print (li)
tu = tuple(li)
print (tu)

[1233, 67876, 98765567, 654]
[1233, 98765567, 654]
(1233, 98765567, 654)

In [14]:
# tuple insise tuple
tp = ((1,2,3), (4,5,6), (7,8,9))
print(tp)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [16]:
info = ()
n = int(input ("Enter the size "))
for i in range(n):
    name = input("Enter the name - ")
    age = input("Enter the age - ")  
    add = input("Enter the address - ")
    info = info + ((name, age, add),)
print(info)

Enter the size 2
Enter the name - Sneha
Enter the age - 17
Enter the address - Kathmandu
Enter the name - Vaish
Enter the age - 18
Enter the address - Gorakhpur
(('Sneha', '17', 'Kathmandu'), ('Vaish', '18', 'Gorakhpur'))

In [19]:
l = []
for i in info:
    l.append(list(i))
print(l)

[['Sneha', '17', 'Kathmandu'], ['Vaish', '18', 'Gorakhpur']]

In [5]:
# WAP to convert list inside list to tuple inside tuple
li = [[1,2,3],[4,5,6],[7,8,9]]
u = ()
for i in li:
    for j in li:
        y = li[i][j]
        u = u + (tuple(y),)
    tu = tu + (u,)
print (tu)

TypeError: list indices must be integers or slices, not list